VITE_FIREBASE_API_KEY=your_api_key_here
VITE_FIREBASE_AUTH_DOMAIN=karsa-tiket-firsa.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=karsa-tiket-firsa
VITE_FIREBASE_STORAGE_BUCKET=karsa-tiket-firsa.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=179947371601
VITE_FIREBASE_APP_ID=your_app_id_here
